name: ci

on:
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    runs-on: ubuntu-latest
    
    permissions:
      contents: write

    steps:
      - name: Checkout Code Repository
        uses: actions/checkout@v4
        
      - name: Corepack
        run: corepack enable
     
      - name: Install Dependencies
        run: pnpm install

      - name: Run CI
        run: npm run ci
